<!-- templates/recipes_app/recipe_detail.html -->
{% extends 'recipes_app/base.html' %}

{% block title %}{{ recipe.title }}{% endblock %}

{% block content %}
<h1>{{ recipe.title }}</h1>
<img src="{{ recipe.image.url }}" alt="{{ recipe.title }}">
<p>Описание: {{ recipe.description }}</p>
<p>Время приготовления: {{ recipe.preparation_time }} минут</p>
<h3>Ингредиенты:</h3>
<ul>
    {% for ingredient in recipe.ingredients.all %}
        <li>{{ ingredient.name }}</li>
    {% endfor %}
</ul>
<h3>Шаги приготовления:</h3>
<ol>
    {{ recipe.preparation_steps|linebreaks }}
</ol>
{% endblock %}